# Django
*.log
media/
static/
.env

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore the local settings file
appopoleisJobs/settings/local.py

# Ignore PostgreSQL database files
appopoleisJobs/database/